<div class="basedInScot">
    <h4>
    Established in 2015 and based in Scotland, Al Duaa Tours 
    provides high quality packages at competitive prices for 
    Hajj and Umrah.
     Our company ensures the best quality service to our clients: 
     from the moment they ask for a quotation until they return back to their homes.
      We aim to be the 
    leading Hajj and Umrah travel agency in the UK.
    
    </h4>

    </div>