<div class="myhome">
    <h2>High quality hajj and umrah packages</h2>

 
</div>

<div class="myhomeTwo">
    <h2>High quality hajj and umrah packages</h2>

 
</div>


<div class="basedInScot">
    <h4>
Based in Scotland, Al Duaa Tours provides high quality packages at competitive prices for
 Hajj and Umrah. Our company ensures the best quality service to our clients: from the moment they
  ask for a quotation until they return back to their homes. We aim to be the leading Hajj and Umrah
   travel agency in the UK.
   </h4>
</div>