<div class="hostel-cards">
<h3 class="hotels-title">
Hotels we work with include:
</h3>
<h3 class="hostleName">Al Safwa Tower Dar Al Ghufran Hotel
</h3>
<h3>5 Stars</h3>
<h3>Safwa Towers, Ajyad St, Mecca</h3>
 <h3 class="dots">- - - - - - - - - - - -</h3>

<h3 class="hostleName"> FAIRMONT CLOCK TOWER</h3>
<h3>5 Stars</h3>
<h3>Abraj Al Bait Complex, Al Hajlah, Makkah</h3>

 <h3 class="dots">- - - - - - - - - - - -</h3>
<h3 class="hostleName">    HILTON MAKKAH HOTEL</h3>
<h3>5 Stars</h3>
<h3>JABAL OMAR, IBRAHIM AL KHALIL ST., MAKKAH</h3>
<h3>Madinah Hotel to include: Anwar Al-Madinah, Shaza Almadinah, Dar AlHijra Intercontinenta</h3>
 <h3 class="dots">- - - - - - - - - - - -</h3>

 <h3 class="hostleName"> ANWAR AL-MADINAH</h3>
 <h3>5 Stars</h3>
 <h3>Medina Central Zone, Medina</h3>
 <h3>Within Five Minutes Walk of the Masjid Al Nabawi</h3>
   <h3 class="dots">- - - - - - - - - - - -</h3>
  
  <h3 class="hostleName">DAR ALHIJRA INTERCONTINENTAL</h3>
 <h3>5 Stars</h3>
 <h3>King Fahad Road , Central Zone, Medina</h3>
 <h3>Within Five Minutes Walk of the Masjid Al Nabawi</h3>
 <h3 class="dots">- - - - - - - - - - - -</h3>

 <h3 class="hostleName"> 
SHAZA ALMADINAH
</h3>   
  <h3>5 Stars</h3>   
   <h3>King Fahad Rd, Central Zone, Medina</h3>   
    <h3>Within Five Minutes Walk of the Masjid Al Nabawi</h3> 
     <h3 class="dots">- - - - - - - - - - - -</h3>  
 
 </div>
