 
.leftFooter{
      padding: 10px;
     
}

.rightFooter{
      padding: 10px;
     
}

footer{
    display: flex;
    background: #4C4C58;
    flex-direction: column;
    padding: 10px;
    
}

.leftFooter p{
    width:80%;
    font-size:16px;
    color: #E5E7EE;
    padding: 6px;
    
    
    
 }
 .leftFooter h3{
   
    color: #E5E8F3
    
 }
.leftFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 
.rightFooter iframe{
     margin-top:8px;
}
@media (min-width: 823px) { 
    footer{
        flex-direction: row;}
        
    .leftFooter{
        width:50%;
        margin-right: 1px;
        
        }
    .rightFooter{
        width:50%;
        }
        .leftFooter{
            border-right:solid 1px #020202;}
}    